# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Build
dist/
build/
.vite/
.vitepress/dist/
coverage/

# TypeScript
*.tsbuildinfo

# Env files
.env

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
*.sw?
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing
jest-coverage/
cypress/videos/
cypress/screenshots/
playwright-report/

# Python (por si backend también se toca con esto)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.Python
.venv/
venv/

#env
.env 
*storybook.log
